<div class="container">
  <div class="panel-default">
    <h3 id=title>Sort by Calories</h3>
    <select (change)="onChangeCalories($event.target.value)">
      <option value="allMeals" selected="selected">All meals</option>
      <option value="moreThanOneThousand">Meals greater than 1000 calories</option>
      <option value="lessThanFiveHundred">Meals under 500 calories</option>
    </select>
  </div>
  <div class="panel-default">
    <h3 id=title>Sort by Day</h3>
    <select (change)="onChangeDays($event.target.value)">
      <option value="allDays" selected="selected">All days</option>
      <option value="monday">Monday</option>
      <option value="tuesday">Tuesday</option>
      <option value="wednesday">Wednesday</option>
      <option value="thursday">Thursday</option>
      <option value="friday">Friday</option>
      <option value="saturday">Sunday</option>
      <option value="sunday">Sunday</option>
    </select>
  </div>
  <h3 id=title>Meals</h3>
  <div class="panel panel-default">
  <li *ngFor="let currentFood of childFoodList | calorieSort:filterByCalories | daySort:filterByDays" class="panel-heading" id="food" (click)="showFoodDetails(currentFood)">Name:&nbsp;{{currentFood.name}}</li>
  </div>

  <div class="well" *ngIf="showDetails" id="well">
    <h2 id=title>Details for {{showDetails.name}}</h2>
    <p>{{showDetails.meal}}</p>
    <p [class]="calorieColor(showDetails)">{{showDetails.calories}}</p>
    <p>{{showDetails.details}}</p>
    <p>{{showDetails.dayOfWeek}}</p>
    <button (click)="showDailyCalories(showDetails)" id="click">Show total calories for this day</button>
    <p>Total daily calories: {{showDaily}}</p>
    <button (click)="hideFoodDetails()" id="click">Hide</button>
    <button (click)="editButtonHasBeenClicked(showDetails)" id="click">Edit</button>
  </div>
</div>
